@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply outline-none ring-0 flex justify-center items-center text-center p-2 bg-gray text-[#fff] px-5;
  }
}

h1 {
  font-size: clamp(2rem, 4vw, 3rem);
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-size: clamp(0.7rem, 4vw, 1.5rem);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
h4 {
  font-size: clamp(0.5rem, 4vw, 1rem);
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
p {
  font-size: clamp(0.5rem, 4vw, 0.8rem);
  font-weight: 400;
  font-family: "Inter", sans-serif;
}

/* global style */
.flexCenterCenter {
  @apply flex justify-center items-center;
}
.flexBetweenCenter {
  @apply flex justify-between items-center gap-3;
}
.flexCenter {
  @apply flex items-center gap-3;
}
.flexColStart {
  @apply flex flex-col items-start gap-3;
}
.textarea-body {
  @apply bg-transparent focus:ring-0 w-full h-28 leading-relaxed;
}
.animate {
  @apply transition-all ease-in-out duration-300;
}
.btn {
  @apply bg-gray text-gray_cool rounded flex justify-center items-center
}

/* homepage section */
.container-home {
  @apply max-w-7xl mx-auto flex flex-wrap my-10 gap-5 md:gap-2 justify-center;
}
.item-home {
  @apply w-96 h-60 flex-1 rounded-md border p-4 cursor-pointer flex flex-col items-center justify-center
}

/* Sidebar section */

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sidebar {
  @apply h-full flex gap-2 overflow-y-auto;
}
.sidebar-content {
  flex: 15%;
  @apply border-r border-gray_alt 
}
.logo {
  @apply h-24 w-full flex justify-center items-center cursor-pointer
}
.sidebar-item {
  @apply p-3 px-5 cursor-pointer hover:text-blue hover:border-r-4 hover:border-blue flex items-center gap-3
}
.sidebar-item-active {
  @apply border-r-4 border-blue text-blue
}
.sidebar-children {
  @apply w-full 
}
.children {
  @apply px-5 grid gap-5 w-full 
}
.children-item {
  @apply border-b border-gray py-10 mb-5
}

/* input section */
.input {
  @apply focus:ring-0 outline-none w-full text-sm py-3 rounded-md bg-gray_alt;
}
.error-input {
  @apply text-start text-red;
}

/* table section */
.container-table {
  @apply flex flex-col w-full
}
.container-table-2 {
  @apply -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8
}
.container-table-3 {
  @apply py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8 
}
.container-table-4 {
  @apply shadow overflow-hidden sm:rounded-lg
}
.table {
  @apply min-w-full divide-y divide-gray
}
.tr {
  @apply text-left font-medium text-gray_cool bg-gray uppercase tracking-wider
}
.item-table {
  @apply p-2 text-left
}

/* Notif section */
.notify {
  @apply fixed top-10 right-10 z-50 w-1/2 h-10 p-2 border rounded-md flex;
}
.notify-hidden {
  @apply left-[-100%] opacity-0 ease-in;
}

/* scroll snap section */
.container-snap {
  scroll-snap-type: x mandatory;
  scroll-padding: 10px;
  @apply flex overflow-x-scroll py-5 px-2 rounded-md gap-5
}
.child-snap {
  flex: 0 0 100%;
  scroll-snap-align: start;
  @apply bg-gray rounded-md py-16 px-4 cursor-pointer text-gray_cool w-full
}

/* dropdown section */
.dropdown {
  @apply relative w-36 max-h-40 text-start;
}
.dropdown-content {
  @apply bg-gray p-3 px-4 rounded-md text-[#fff] grid gap-2 max-h-40 overflow-y-auto overflow-hidden mt-2;
}
.dropdown-item {
  @apply cursor-pointer;
}
.dropdown-active {
  @apply rotate-180;
}

/* Drag and drop file section  */
.dropzone {
  @apply relative w-full p-2 flex justify-center flex-col items-center  h-52;
}
.dropzone-content {
  @apply w-full h-full flex text-center flex-col justify-center items-center gap-1 border-4 border-gray border-dashed rounded-md;
}
.dropFile {
  @apply flex flex-wrap justify-center w-full gap-5 mt-2;
}
.dropFile-item {
  @apply w-full h-16 rounded-md flex justify-between items-center px-2 text-xs;
}
.btn-dropzone {
  @apply mt-10 flex justify-center;
}

/* pagination section */
.pagination-button {
  @apply w-full flex gap-2 mt-2;
}
